name: Docker Builder Image CI

on:
  push:
    branches: ["main"]
    paths:
      - Dockerfile.builder
      - Cargo.toml
      - Cargo.lock
      - .github/workflows/builder.yml
  pull_request:
    branches: ["main"]
    paths:
      - Dockerfile.builder
      - Cargo.toml
      - Cargo.lock
      - .github/workflows/builder.yml

# Added permissions for GHCR
permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create Builder Version
        run: echo "BUILDER_VERSION=builder-$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Echo Builder Version
        run: echo $BUILDER_VERSION

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push the Docker image
        run: |
          # Ensure the repo name is lowercase for the Docker tag
          REPO_LOWER=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          
          docker buildx build . \
            --file Dockerfile.builder \
            --tag ghcr.io/$REPO_LOWER:$BUILDER_VERSION \
            --tag ghcr.io/$REPO_LOWER:builder-latest \
            --platform linux/amd64,linux/arm64 \
            --push
